<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">

<service-group>

  <name replace-wildcards="yes">%h BlackBox</name>

  <service>
    <type>_http._tcp</type>
    <domain-name>local</domain-name>
    <host-name>blackbox.local</host-name>
    <port>80</port>
  </service>

</service-group>
